aiodns==4.0.4
async_timeout==5.0.1
backports.statistics==0.1.0
brotli==1.2.0
brotlicffi==1.2.0.1
chardet==7.4.3
ConfigParser==7.2.0
cryptography==49.0.0
davey==0.1.6
docutils==0.23
filelock==3.29.7
gunicorn==26.0.0
h2==4.3.0
HTMLParser==0.0.2
ipython==9.15.0
ipywidgets==8.1.8
jnius==1.1.0
js==1.0
keyring==25.7.0
mask==1.0.0
nacl==0.0.0
orjson==3.11.9
pydantic==2.13.4
pydantic_core==2.47.0
pyodide==0.0.2
pyOpenSSL==26.3.0
pytest==9.1.1
python-dotenv==1.2.2
redis==8.0.1
simplejson==4.1.1
Sphinx==9.1.0
thread==2.0.6
typing_extensions==4.16.0
uvloop==0.22.1
xmlrpclib==1.0.1
zstandard==0.25.0
