@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Move styling to tailwind */
.item {
  border-radius: 30px;
  display: inline-block;
  margin: 5px;
  padding: 12px;
}

#header {
  -webkit-text-stroke: 1px black;
  color: white;
}

#navbar {
  cursor: pointer;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  border-radius: 30px;
}

#navbar-container {
  position: absolute;
  top: 37%;
  display: flex;
}

#navbar-selector {
  pointer-events: none;
  position: absolute;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  border-radius: 30px;
}

#navbar-wrapper {
  display: flex;
  justify-content: center;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}
