@tailwind base;
@tailwind components;
@tailwind utilities;

/* TODO: Move styling to tailwind */
.item {
  border-radius: 30px;
  display: inline-block;
  margin: 5px;
  padding: 12px;
}

#navbar {
  cursor: pointer;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  border-radius: 30px;
}

#navbar-container {
  position: absolute;
  top: 50%;
  display: flex;
}

#navbar-selector {
  pointer-events: none;
  position: absolute;
  /* margin: 10px; /* these values are not reflexive */
  /* padding-top: 25px;  these values are not reflexive */
  outline-style: solid;
  outline-color: black;
  outline-width: 1px;
  border-radius: 30px;
}

#navbar-wrapper {
  display: flex;
  justify-content: center;
}
